@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.d</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Personel AD</th>
        <th>Personel SOYAD</th>
        <th>Personel GORSEL</th>
        <th>Personel SATIŞLAR</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.personelid</td>
        <td>@x.personelad</td>
        <td>@x.personelsoyad</td>
        <td>@x.personelgorsel</td>
        <td><a href="/Departman/DepartmanPersonelSatis/@x.personelid" class="btn btn-default" style="background-color:lightslategrey">Satışlar</a></td>
    </tr>
    }
</table>
